services:
    mysqldb:
        image: mysql/mysql-server
        restart: always
        enviromment:
            MYSQL_DATABASE: 'backend'
            MYSQL_PASSWORD: 'mysql'
            MYSQL_ROOT_PASSWORD: 'mysql'
            ports:
                - '3306:3306'
            volumes:
                - ~/mysql:/var/lib/mysql
                - ./data.sql:/data.sql
networks:
    default:
        external:
            name: int221-network

